<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="IDReaderCOM" value="0" />
    <add key="GateBoardCOM" value="7" />
    <add key="CamFaceID" value="0" />
    <add key="CamTicketID" value="1" />
    <add key="MaxRetryFaceCmp" value="10" />
    <add key="MaxRetryTicketChk" value="25" />
    <add key="ReqFaceCmpScore" value="60" />
    <add key="InitFaceCmpRate" value="322" />
  </appSettings>
</configuration>